.coin-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
  align-items: center;
  width: 80vw;
  border-bottom: 1px solid #8eeded;
  background-color: #1e1e1e;
  color: #ffffff;
}

.coin-data {
  display: flex;
  align-items: center;
}


.coin-price {
  text-align: right;
}

.coin-row p {
  margin: 0;
  padding: 5px;
  text-align: center;
}

.coin-row p:last-child {
  text-align: right;
}

.positive {
  color: chartreuse;
}

.negative {
  color: rgb(255, 0, 25);
}